nav
  ul
    li 
      i.fa.fa-motorcycle 
      a Motor
    li 
      i.fas.fa-car 
      a Car
    li 
      i.fas.fa-car 
      a RantalCar
    li 
      i.fas.fa-dog 
      a Pet
    li 
      i.fas.fa-fighter-jet
      a Travel

