@import url('https://fonts.googleapis.com/css?family=Bangers|Cormorant+Garamond|IBM+Plex+Mono')  

body
  background-image: linear-gradient(to right, #434343 0%, black 100%)
  h1 
    color: white
    text-align: center
    font-family: 'Cormorant Garamond', serif;
    font-weight: 800

  nav 
    text-align: center
    ul
      padding: 10px
      li
        cursor: pointer
        font-family: 'IBM Plex Mono', monospace
        display: inline
        padding: 15px 30px 15px 30px
        font-size: 1.5em
        color: white
        &:hover
          background-color: white
          color: black

  .aaaaa
    background-image: url(/img/motor.jpg)
